# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries used in Data Science
* Some Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. PyTorch
4. Keras

|Data Science Tools|
|------------------|
|     RStudio      |
|     Jupyter      |
|  Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ezgi Gülşen Akgün